
  <div class="container mt-5">
    <h2 class="text-center mb-4">Quienes somos</h2>

    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <p class="card-text">Hace más de 25 años July Feraro siguió su sueño y comenzó una carrera formándose en distintas disciplinas como desarrollo muscular, meditación y atletismo de alto rendimiento. Su pasión la llevo a explorar otras áreas para comprender la integración cuerpo-mente y así poder elevar sus capacidades. En esta travesía personal tuvo la fortuna de compartir tiempo y experiencia con múltiples profesionales así como obtener aprender de sus alumnos.
              July estaba en su máximo potencial y lista para dar el próximo paso hasta que en el año 2020 la realidad inesperada puso en conflicto su realidad impactando primero su propia economía para luego escalar a otras áreas como lo emocional. </p>
        <p class="card-text">Luego de unos meses de tratar de buscar una solución, determinada por su necesidad de mejorar comprendió luego de varias conversaciones que el modelo establecido debía cambiar y comenzó a dar clases online por zoom, enviar videos de meditación a sus alumnos y cuando fue posible encontrase en una plaza para movilizar el cuerpo y la mente.</p>
        <p class="card-text">Así nació OwnPower ….el poder está en uno mismo.</p>
      </div>
    </div>
 </div>
 <div class="container mt-5">
    <h2 class="text-center mb-4">Los profes</h2>

    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <p class="card-text">Dentro de la comunidad podras encontrar profes que estas certificados en su area. 
            En su mayoria son profesionales locales que quieren motivar a su comunidad y transmitir lo importante que es 
            una buena calidad de vida mientras crecemos. </p>
        
      </div>
    </div>
 </div>
 <div class="container mt-5">
    <h2 class="text-center mb-4">Nuestras Clases</h2>

    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <p class="card-text">Cada profesor puede tener una o mas areas de expertise por lo que encontartas una variedad de opciones.</p>
        <p class="card-text">Yoga, Recovery, personalizado y funcional son solo algunos ejemplos.</p>
        <p class="card-text">Recuerda que: Solo puedes reservar clases para el dia siguiente.</p>
      </div>
    </div>
 </div>

