<!--Carrusel-->

<section class="">
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner ">
      <div class="carousel-item active c-item">
        <img src="/images/c1.jpg" class="d-block w-100  c-img">
        <div class="carousel-caption top-0 mt-5 d-none d-md-block">
          <h1 class="mt-5 display-1 fw-bolder text capitalize ">Empieza hoy!</h1>
          <br/>
          <%= link_to "Registrate", new_user_registration_path, class: "btn btn-lg btn-warning rounded-pill" %>
        </div>
      </div>
      <div class="carousel-item  c-item">
        <img src="/images/c2.jpg" class="d-block w-100  c-image" alt="...">
        <div class="carousel-caption top-0 mt-5 d-none d-md-block">
          <h1 class="mt-5 display-1 fw-bolder text capitalize ">Hoy puede ser</h1>
          <br/>
          <%= link_to "Reservar", user_reserve_path, class: "btn btn-lg btn-warning rounded-pill" %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</section>

  <!--boxes-->
  <section class="">
  <div class="container py-4">
    <div class="row">
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body">
            <div class="h1 mb-3">
             <i class="bi bi-command"></i>
            </div>
            <h5 class="card-title">Como trabajamos</h5>
            <p class="card-text">Somos un grupo apasionado por el movimiento. Nuestro objetivo es lograr los tuyos.</p>
            <a href="/about" class="btn btn-warning" role="button" data-mdb-ripple-init>+ Info</a>

          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <div class="card-body">
            <div class="h1 mb-3">
             <i class="bi bi-people-fill"></i>
            </div>
            <h5 class="card-title">Los Profes</h5>
            <p class="card-text">Aqui puedes ver quienes formarmos parte de esta comunidad asi como cuales son nuestras areas de expertise.</p>
            <a href="/about" class="btn btn-warning" role="button" data-mdb-ripple-init>+ Info</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body">
            <div class="h1 mb-3">
             <i class="bi bi-bookmark-check"></i>
            </div>
            <h5 class="card-title">Clases</h5>
            <p class="card-text">Ofrecemos varios tipos de servicios dependiendo del profesor y la epoca del año.</p>
            <a href="/about" class="btn btn-warning" role="button" data-mdb-ripple-init>+ Info</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </section>

  <!--Preguntas precuentes --->
 <section class="p-4">
  <div class="container">
    <h2 class="text-center mb-4">Preguntas frecuentes</h2>
    <div class="card mb-3 border-warning">
      <div class="card-header bg-warning text-dark">
        ¿Tiene un costo registrarme?
      </div>
      <div class="card-body">
        Registrarte es gratis! No es necesario agregar métodos de pagos. Solo cuando quieras realizar una reserva se solicitará.
      </div>
    </div>
    <div class="card mb-3 border-warning">
      <div class="card-header bg-warning text-dark">
        ¿Puedo realizar reservas para el mismo día?
      </div>
      <div class="card-body">
        Por el momento solo es posible reservar con al menos 1 día de anticipación.
      </div>
    </div>
    <div class="card mb-3 border-warning">
      <div class="card-header bg-warning text-dark">
        ¿Por qué no encuentro clases disponibles de un profesor?
      </div>
      <div class="card-body">
        Esto puede deberse a múltiples razones. Consulta con tu profesor ya que puede estar inactivo debido a vacaciones u otros motivos.
      </div>
    </div>
  </div>
</section>


 <!--contact form --->
<section class="mt-5">
  <div class="container">
    <h2 class="text-center mb-4">Contactanos!</h2>
    <div class="card text-bg-secondary mb-3">
      <div class="card-body">
        <%= form_tag enviar_consulta_path, id: "consultaForm" do %>
          <div class="row g-3">
            <div class="col-md-6">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            <div class="col-md-6">
              <label for="email" class="form-label">Correo electrónico</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="col-md-12">
              <label for="mensaje" class="form-label">Mensaje</label>
              <textarea class="form-control" id="mensaje" name="mensaje" rows="3" required></textarea>
            </div>
            <div class="col-md-12">
              <%= submit_tag "Enviar consulta", class: "btn btn-warning" %>
            </div>
          </div>
          
        <% end %>

     
  </div>
  </div>
  </div>
</section>

