<!--Carrusel-->

<section class="">
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner ">
      <div class="carousel-item active c-item">
        <img src="/images/c1.jpg" class="d-block w-100  c-img">
        <div class="carousel-caption top-0 mt-5 d-none d-md-block">
          <h1 class="mt-5 display-1 fw-bolder text capitalize ">Empieza hoy!</h1>
          <br/>
          <%= link_to "Registrate", new_user_registration_path, class: "btn btn-lg btn-primary rounded-pill" %>
        </div>
      </div>
      <div class="carousel-item  c-item">
        <img src="/images/c2.jpg" class="d-block w-100  c-image" alt="...">
        <div class="carousel-caption top-0 mt-5 d-none d-md-block">
          <h1 class="mt-5 display-1 fw-bolder text capitalize ">Hoy puede ser</h1>
          <br/>
          <%= link_to "Reservar", user_reserve_path, class: "btn btn-lg btn-primary rounded-pill" %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</section>

  <!--boxes-->
  <section class="">
  <div class="container py-4">
    <div class="row">
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body">
            <div class="h1 mb-3">
             <i class="bi bi-command"></i>
            </div>
            <h5 class="card-title">Como trabajamos</h5>
            <p class="card-text">Somos un grupo apasionado por el movimiento. Nuestro objetivo es lograr los tuyos.</p>
            <button type="button" class="btn btn-primary" data-mdb-ripple-init>+ Info</button>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <div class="card-body">
            <div class="h1 mb-3">
             <i class="bi bi-people-fill"></i>
            </div>
            <h5 class="card-title">Los Profes</h5>
            <p class="card-text">Aqui puedes ver quienes formarmos parte de esta comunidad asi como cuales son nuestras areas de expertise.</p>
            <button type="button" class="btn btn-primary" data-mdb-ripple-init>+ Info</button>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body">
            <div class="h1 mb-3">
             <i class="bi bi-bookmark-check"></i>
            </div>
            <h5 class="card-title">Clases</h5>
            <p class="card-text">Ofrecemos varios tipos de servicios dependiendo del profesor y la epoca del año.</p>
            <button type="button" class="btn btn-primary" data-mdb-ripple-init>+ info</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </section>

  <!--Preguntas precuentes --->
 <section class="p-4">
  <div class="container">
    <h2 class="text-center mb-4">Preguntas frecuentes</h2>
      <div class="accordion " id="accordionE">
      <div class="accordion-item">
          <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-1" aria-expanded="true" aria-controls="collapseOne">
            ¿Tiene un costo registrarme?
          </button>
        </h2>
        <div id="question-1" class="accordion-collapse collapse" data-bs-parent="#accordionE">
          <div class="accordion-body"> Registrarte es gratis! No es necesario agregar metodos de pagos. solo cuando quieras realizar una reserva se solicitará.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-2" aria-expanded="true" aria-controls="collapseOne">
            ¿Puedo realizar reservas para el mismo dia?
          </button>
        </h2>
        <div id="question-2" class="accordion-collapse collapse" data-bs-parent="#accordionE">
          <div class="accordion-body">Por el momento solo es posible para reservar con al menos 1 dia de anticipacion .</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-3" aria-expanded="true" aria-controls="collapseOne">
            ¿Porque no encuentro clases disponibles de un profesor?
          </button>
        </h2>
        <div id="question-3" class="accordion-collapse collapse" data-bs-parent="#accordionE">
          <div class="accordion-body">Esto puede deberse a multiples razones. Consulta con tu profesor ya que puede estar inactivo dado vacaiones u otros motivos. </div>
        </div>
      </div>
    </div>
</div>
 </section>

 