<!--PAgina de profes-->
<div class="container my-5">
        <h1 class="text-center mb-5">Conoce a Nuestros Profesores</h1>
        <!-- Fila 1 -->
        <div class="row mb-4 d-flex-equal">
            <div class="col-md-6">
                <div class="card profesor-card bg-white">
                    <img src="images/profe_july.png" class="profesor-img card-img-top" alt="Profesor 1">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card profesor-card bg-yellow profesor-info">
                    <div class="profesor-title text-center mb-5">July Ferraro</div>
                    <div class="profesor-section">
                        <i class="bi bi-person-square"></i>
                        <span class="profesor-text">Especialidad: Maraton - Funcional - Running</span>
                    </div>
                    <div class="profesor-section">
                        <i class="bi bi-clock-fill"></i>
                        <span class="profesor-text">Experiencia: 15 años</span>
                    </div>
                    <div class="profesor-section">
                        <i class="bi bi-instagram"></i>
                        <span class="profesor-text">july.ferraro</span>
                    </div>
                    <div class="profesor-section">
                        <i class="bi bi-chat-left-quote-fill"></i>
                        <span class="profesor-text">Hola, soy July y soy especialista en maratón. Llevo corriendo desde que tengo memoria y me apasiona ayudar a otros a descubrir la alegría y la libertad que trae el correr. He tenido el privilegio de guiar a mis alumnos desde sus pasos hasta cruzar la línea de meta en múltiples maratones. Correr no es solo un ejercicio, es un estilo de vida.  Me especializo en crear planes de entrenamiento personalizados que se adapten a las necesidades y capacidades de cada corredor. Además, siempre estoy disponible para ofrecer apoyo y motivación, ya sea a través de consejos técnicos o simplemente como una compañera de entrenamiento.
                       Si estás listo para llevar tu carrera al siguiente nivel y vivir la experiencia de un maratón, estaré encantada de acompañarte en cada paso del camino.</span>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Fila 2 -->
        <div class="row mb-4 d-flex-equal">
            <div class="col-md-6">
                <div class="card profesor-card bg-yellow profesor-info">
                    <div class="profesor-title text-center mb-5">Maria Ham</div>
                    <div class="profesor-section">
                        <i class="bi bi-person-square"></i>
                        <span class="profesor-text">Especialidad: Funcional - Running</span>
                    </div>
                    <div class="profesor-section">
                        <i class="bi bi-clock-fill"></i>
                        <span class="profesor-text">Experiencia: 12 años</span>
                    </div>
                    <div class="profesor-section">
                        <i class="bi bi-instagram"></i>
                        <span class="profesor-text">Maria.ham</span>
                    </div>
                    <div class="profesor-section">
                        <i class="bi bi-chat-left-quote-fill"></i>
                        <span class="profesor-text">Hola, soy María, especialista en entrenamiento funcional con 8 años de experiencia. Me encanta ayudar a mis alumnos a mejorar su fuerza, flexibilidad y resistencia a través de ejercicios variados y dinámicos.
                          El entrenamiento funcional es una forma increíble de mejorar tu salud y bienestar general. Mis clases están diseñadas para ser desafiantes pero accesibles para todos, sin importar el nivel de condición física.
                          Estoy aquí para motivarte y guiarte en tu camino hacia un cuerpo más fuerte y saludable.</span>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="card profesor-card bg-white">
                    <img src="images/profe m1.jpg" class="profesor-img card-img-top" alt="Profesor 2">
                </div>
            </div>
        </div>
        <!-- Fila 3 -->
        <div class="row mb-4 d-flex-equal">
            <div class="col-md-6">
                <div class="card profesor-card bg-white">
                    <img src="images/profe_hombre.jpg" class="profesor-img card-img-top" alt="Profesor 3">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card profesor-card bg-yellow profesor-info">
                    <div class="profesor-title text-center mb-5">Peter Lopez</div>
                    <div class="profesor-section">
                        <i class="bi bi-person-square"></i>
                        <span class="profesor-text">Especialidad: Funcional - Musculacion</span>
                    </div>
                    <div class="profesor-section">
                        <i class="bi bi-clock-fill"></i>
                        <span class="profesor-text">Experiencia: 10 años</span>
                    </div>
                    <div class="profesor-section">
                        <i class="bi bi-instagram"></i>
                        <span class="profesor-text">peter.lopez</span>
                    </div>
                    <div class="profesor-section">
                        <i class="bi bi-chat-left-quote-fill"></i>
                        <span class="profesor-text">Hola, soy Peter, especialista en entrenamiento funcional y musculación con 7 años de experiencia. Mi objetivo es ayudarte a alcanzar tus metas de fuerza y acondicionamiento físico a través de programas personalizados y efectivos.
                         El entrenamiento funcional y la musculación son esenciales para desarrollar un cuerpo fuerte y equilibrado. Mis sesiones combinan ejercicios dinámicos y técnicas de levantamiento de pesas para maximizar tus resultados.
                          Estoy aquí para motivarte y guiarte en cada paso de tu viaje hacia un mejor estado físico.</span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
