<div class="container">
  <h5 class="mt-3 mb-3">Nueva clase</h5>
  <%= render "form", lesson: @lesson %>

  <!-- Botón "Back" -->
  <br/>
    <div class="row ">
        <ul class="list-inline text-end">
          <li class="list-inline-item">
            <%= link_to "Volver a listado de clases", lessons_path, class:"btn btn-outline-secondary rounded-pill" %>
          </li>
        </ul>
    </div>
</div>