<div class="container p-4">
  <h2 class="p-3 h4 text-center"><i class="fas fa-lock me-2"></i> Nueva Clase</h2>
   <%= render "form", lesson: @lesson %>
  <br/>
    <div class="row ">
        <ul class="list-inline text-end">
          <li class="list-inline-item">
            <%= link_to "Volver a listado de clases", lessons_path, class:"btn btn-outline-secondary rounded-pill" %>
          </li>
        </ul>
    </div>
</div>