<h1>Mi Perfil</h1>







<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  
  <%= link_to "carrito", cart_path, class: "btn btn-warning btn-lg rounded-pill" %>
  <br/>
 <%= link_to "Reservar", user_reserve_path, class: "btn btn-lg btn-primary rounded-pill" %>

</div>

<p>Mis reservas</p>