/*!
 * changes by me
 */

 /*!
 * Landing page
 */
 
 h11 {
    color: green;
  }
  
  .c-item{
  height: 600px;
  
  }
  .c-img{
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  
  }
  
  body{
  min-height: 100vh;

  }
  .sticky-footer{
    position: sticky;
    top: 100%;

  }

  .mb-3.row .col {
    display: flex;
    align-items: center;
  }

  
  /*!
   * end changes 
   */

   /*!
   * changes login and refister page
   */

   .formContainer {
    max-width: 400px; /* Reducir el ancho del primer contenedor */
  }
  /*!
  .formContainer {
    max-width:5000px;
    box-shadow : 4px 8px 16px #d7d7d7;
    margin:0 auto;
    padding:10px;
    border-radius:0px 0px 4px 4px;
  }
  */
  input {
    box-shadow:none !important;
    outline:none;
  }
  #btnHolder {
    margin:0px -20px -20px -20px;
  }

  #btnHolder .btn {
    border-radius: 0px 0px 4px 4px !important;
    height: 60px;
    width: auto; /* Permitir que el ancho del botón se ajuste automáticamente */
  }
  /*!
  #btnHolder .btn {
    border-radius:0px 0px 4px 4px !important;
    height:60px;
  }
  */
  @media screen and (max-width:766px){
    .centerOnMobile {
      margin : 20vh auto
    }
  }
  @media screen and (min-width:767px){
    #mainBgn {
      background: url('/images/c4.jpg') no-repeat;
      background-size: cover;
      background-position: center;
      height: 80vh;
      width: 100%;
    }
    #mainContainer {
      box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.4);
      height: 80vh;
      margin: 5vh auto; /* Centrar el contenedor horizontalmente */
      max-width: 1000px; /* Limitar el ancho máximo del contenedor */
    }
  }

  @media screen and (min-width:767px){
    #mainBgnlogin {
      
      background: url('/images/c4.jpg') no-repeat;
      background-size: cover;
      background-position: center;
      height: 80vh;
      width: 100%;
     
}


    #mainContainerlogin {
      box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.4);
      height: 80vh;
      margin: 5vh auto; /* Centrar el contenedor horizontalmente */
      max-width: 1000px; /* Limitar el ancho máximo del contenedor */
    }
  }
/*!
  * end changes 
*/
/*!
  * lesson- new form 
*/
.input-group-date {
  max-width: 200px; /* Establecer el ancho máximo según tus necesidades */
}

@media screen and (min-width:767px){
  #mainLesson {
    
    background: url('/images/c4.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    width: 100%;
   
}}
/*!
  * end changes 
*/

/*!
  * pagina profes
*/

.profesor-card {
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}
.profesor-img {
  max-width: 100%;
  height: auto;
}
.profesor-info {
  padding: 20px;
  height: 100%;
}
.profesor-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}
.profesor-text {
  font-size: 1em;
  margin-bottom: 10px;
}
.profesor-section {
  margin-bottom: 20px;
}
.profesor-section i {
  color: #333;
  margin-right: 10px;
}
.bg-yellow {
  background-color: #f1d70e;
}
.bg-white {
  background-color: #ffffff;
}
.d-flex-equal > .col-md-6 {
  display: flex;
  flex-direction: column;
}
.d-flex-equal > .col-md-6 > .card {
  flex: 1;
}

/*!
  * fin pagina profes
*/



  