body {
     /* Ajusta según la altura de tu barra de navegación */
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 1000px;
    width: 240px; /* Ajusta según el ancho deseado */
    z-index: 1000;
    padding-top: 0px; /* Ajusta según la altura de tu barra de navegación */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    background-color: #404952; /* Fondo gris claro */
  }

  .main-content {
    margin-left: 24px; /* Ajusta según el ancho de la sidebar */
  }