/*!
 * changes by me
 */

 /*!
 * Landing page
 */
 
 h11 {
    color: green;
  }
  
  .c-item{
  height: 600px;
  
  }
  .c-img{
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  
  }
  
  body{
  min-height: 100vh;

  }
  .sticky-footer{
    position: sticky;
    top: 100%;

  }


  
  /*!
   * end changes 
   */

   /*!
   * changes login and refister page
   */

   .formContainer {
    max-width:5000px;
    box-shadow : 4px 8px 16px #d7d7d7;
    margin:0 auto;
    padding:10px;
    border-radius:0px 0px 4px 4px;
  }
  input {
    box-shadow:none !important;
    outline:none;
  }
  #btnHolder {
    margin:0px -20px -20px -20px;
  }
  #btnHolder .btn {
    border-radius:0px 0px 4px 4px !important;
    height:60px;
  }
  @media screen and (max-width:766px){
    .centerOnMobile {
      margin : 20vh auto
    }
  }
  @media screen and (min-width:767px){
    #mainBgn {
      background : url('/images/c2.jpg') no-repeat;
      background-size:cover;
      background-position:center;
      height:90vh;
      width:100%;
      margin: 5vh 20px;
    }
    #mainContainer {
      box-shadow : 2px 4px 12px rgba(0,0,0,0.4);
      height:98vh;
      margin: 2vh 10px;
    }
  }

  @media screen and (min-width:767px){
    #mainBgnlogin {
      background : url('/images/c2.jpg') no-repeat;
      background-size:cover;
      background-position:center;
      height:75vh;
      width:100%;
      margin: 5vh 20px;
    }
    #mainContainerlogin {
      box-shadow : 2px 4px 12px rgba(0,0,0,0.4);
      height:80vh;
      margin: 5vh 20px;
    }
  }
/*!
  * end changes 
*/
  
  