<footer class="sticky-footer">
  <div class="bg-dark text-white py-5 mt-5">
  <div class="row py-2 bg-dark text-white">
    <div class="col-xs-12 col-md text-center">
      <small class="d-block mb-3 text-body-white">&copy; 2024–2028</small>
    </div>
    
    <div class="col-6 col-md-6 col-lg-3">
      <h5>Clases</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="#">Personalizado</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Alta resistencia</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Core</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="#">Team</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
  </div>
</footer>