<footer class="sticky-footer">
  <div class="bg-dark text-white py-4 mt-5">
  <div class="row py-2 bg-dark text-white">
    <div class="col-xs-12 col-md text-center">
      <small class="d-block mb-3 text-body-white">&copy; 2024–2028</small>
    </div>
    
    <div class="col-6 col-md-6 col-lg-3">
      <h5>La comunidad</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="#">Como comenzamos</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Otras acciones</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Novedades</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Sobre Nosotros</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="#">Administradores</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Privacidad</a></li>
      </ul>
    </div>
  </div>
  </div>
</footer>