  <!--Navbar and  Carrusel-->
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner height: 100nv">
      <div class="carousel-item active">
        <img src="/images/c1.jpg" class="d-block w-100 c-image alt="...">
        <div class="carousel-caption top-0 mt-5 d-none d-md-block">
          <h1 class="mt-5 display-1 fw-bolder text capitalize ">Empieza hoy!</h1>
          <br/>
          <%= link_to "Registrate", new_user_registration_path, class: "btn btn-lg btn-primary rounded-pill" %>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="/images/c2.jpg" class="d-block w-100 c-image" alt="...">
        <div class="carousel-caption top-0 mt-5 d-none d-md-block">
          <h1 class="mt-5 display-1 fw-bolder text capitalize ">Hoy puede ser</h1>
          <br/>
          <%= link_to "Reservar", new_user_registration_path, class: "btn btn-lg btn-primary rounded-pill" %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>